<script>
  $(function(){
    $('.piece').draggable( {
      containment: '#chess_board',
      snap: '.cell'
    });
        
    $('.cell').droppable( {
      drop: function (event, ui) {
      var newCellX = event.target.attributes[1].nodeValue;
      var newCellY = event.target.attributes[2].nodeValue;
      var pieceMovedUrl = ui.draggable[0].attributes[0].nodeValue;
      console.log(newCellX);
        $.ajax({
          type: 'PUT',
          url: pieceMovedUrl,
          data: { piece: { x: newCellX, y: newCellY } },
          success: function(){
          console.log("item has moved in the database??");
          }
        });
      }
    });
  });
</script>

<%= "Hello #{current_user.email} you are playing #{@game.inspect}"%>
<table id="chess_board" cellpadding="0" cellspacing="0">
  <% (8.downto(1)).each do |y| %> 
    <tr> 
      <% (1..8).each do |x| %>
        <% piece = @game.get_piece_at(x, y) %>
        <td class="cell" data-x="<%= x %>" data-y="<%= y %>" >
          <% if piece.present? %>
            <div data-update-url="<%=piece_path(piece)%>" class="piece">
            <%= link_to piece.unicode_point.html_safe, piece_path(piece) %> 
            </div>
          <% end %>  
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
